<aside class="lg:w-4/12 w-full">
  <div class="w-full rounded-md bg-gray-100 pb-4">
    <h2 class="font-heading font-bold text-2xl px-4 pt-4 pb-3">Contenido</h2>
    <Loading v-if="loading" class="w-full h-8" />
    <article
      v-else
      v-for="item in allContent"
      class="flex py-2 px-4"
      :class="$currentContentId === item.id ? 'bg-gray-200' : 'hover:bg-gray-200'"
    >
      <div class="flex justify-between w-full">
        <div class="flex">
          <div @click="playingVideo(item)" class="bg-black w-26 h-16 rounded-md mr-4 cursor-pointer flex justify-center items-center">
            <font-awesome-icon
              class="text-gray-400 text-3xl"
              :class="$currentContentId === item.id ? 'invisible' : ''"
              :icon="['far', 'play-circle']"
            />
          </div>
          <div>
            <h3 class="font-bold text-gray-700 py-1">
              {{ item.title }}
            </h3>
            <p class="text-gray-600 text-xs">
              <font-awesome-icon class="mr-2" :icon="['far', 'clock']" />
              1 min
            </p>
          </div>
        </div>
        <div class="text-blue-700 h-full flex items-center">
          <font-awesome-icon v-if="item.progress >= 10" class="text-3xl" :icon="['fas', 'check-circle']" />
          <RadialProgressBar
            v-else
            innerStrokeColor="#e2e8f0"
            startColor="#3182ce"
            stopColor="#3182ce"
            :strokeWidth="4"
            :innerStrokeWidth="4"
            :diameter="32"
            :completed-steps="item.progress"
            :total-steps="totalSteps"
          />
        </div>
      </div>
    </article>
  </div>
</aside>