<ValidationObserver tag="div" ref="form" v-slot="{ handleSubmit }" class="xl:w-4/12 lg:w-5/12 md:w-8/12 sm:w-9/12 w-full bg-white shadow-md rounded px-8 pt-10 pb-8 mb-4 flex flex-col">
  <form ref="form" @submit.prevent="handleSubmit(register)">
    <div class="flex justify-center mb-10">
      <Logo />
    </div>
    <ValidationProvider
      tag="div"
      class="mb-4 text-left"
      vid="name"
      v-slot="{ errors }"
      name="Nombre"
      rules="required"
    >
      <label class="block text-sm mb-2" for="username">
        Nombre
      </label>
      <input
        v-model="postData.name"
        class="shadow appearance-none border rounded w-full py-2 px-3"
        type="text"
        :class="errors[0] ? 'border border-red-600' : ''"
      >
      <p class="text-red-600 text-xs italic">{{ errors[0] }}</p>
    </ValidationProvider>
    <ValidationProvider
      tag="div"
      class="mb-4 text-left"
      vid="email"
      v-slot="{ errors }"
      name="Email"
      rules="required|email"
    >
      <label class="block text-sm mb-2" for="username">
        Email
      </label>
      <input
        v-model="postData.email"
        class="shadow appearance-none border rounded w-full py-2 px-3"
        type="email"
        :class="errors[0] ? 'border border-red-600' : ''"
      >
      <p class="text-red-600 text-xs italic">{{ errors[0] }}</p>
    </ValidationProvider>
    <ValidationProvider
      tag="div"
      class="mb-6 text-left"
      vid="password"
      v-slot="{ errors }"
      name="Password"
      rules="required|min:6"
    >
      <label class="block text-sm mb-2" for="password">
        Password
      </label>
      <input
        v-model="postData.password"
        class="shadow appearance-none border border-red rounded w-full py-2 px-3"
        type="password"
        :class="errors[0] ? 'border border-red-600' : ''"
      >
      <p class="text-red-600 text-xs italic">{{ errors[0] }}</p>
    </ValidationProvider>
    <div class="flex flex-wrap items-center justify-between">
      <button v-if="loading" type="button" class="bg-blue-800 hover:bg-blue-700 w-full flex justify-center text-white py-2 px-4 mb-5 rounded">
        <Loading />
      </button>
      <button v-else type="submit" class="bg-blue-800 hover:bg-blue-700 w-full text-white py-2 px-4 mb-5 rounded">
        Registrarse
      </button>
      <p class="py-4 text-center w-full">
        <span>
          ¿Ya tiene cuenta?
        </span>
        <NuxtLink class="text-blue-800 hover:text-blue-700" to="/">Iniciar sesión.</NuxtLink>
      </p>
    </div>
  </form>  
</ValidationObserver>